html{
    font-family: sans-serif;
    box-sizing: border-box;
}
/* img { max-width: 100%; height: auto } */
/* navbar */
nav{
    background-color:#22334C ;
}
button{
    padding: 0px 10px !important;
    border-radius: 2px !important;
}
/* slider */
#slider{
    background-image: url('../img/sliderimg1.jpg');
    background-size: cover;
    width: 100%;
    color: white;
}
span,i{
    color: #FAC93D;
}
#slider ul{
    mask-image: url('tickicon.svg');

}
#slider button{
    color: white;
    border-color: white;
    font-weight: bold;
}
p{
    text-justify: left;
}
.sliderfoot{
    background-color: #22334C;
    opacity: 0.9;

}
.sliderfoot h4{
    margin-bottom: 0px; 
}
.sliderfoottext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Member Benefit */
#memberbenefit{
    background-color: #DFDFDF;
}
ul{
    list-style-image: url('../img/ul.gif');
}
/* advertisers benefits */
#advertiserbenefit{
    background-color:#22334C ;
    color: white;
}
.phoneimg{
    margin-top: -30px;
    width: 100%;
}
.logoimg{
    margin-right: 20px;
    width: 8vw;
}
.abfoot{
    background-color: white;
}
#advertiserbenefit .btn-default{
background-color: #22334C;
color:#FFF;
border-color: #2F3E48;
}
#advertiserbenefit .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #2F3E48;
color:#FFF; 
}
/* footer */
footer{
    background-color: #DFDFDF;
}
/* mediaquery */
@media  only screen and ( max-width:1200px){
    .phoneimg{
        margin-top: -25px;
        height: 465px;
        width: 100%;
    }
}